{% extends 'base.html' %}

{% block body %}
<h1>Nouveau Article</h1>
{% if envoi %}
<div class="alert alert-success" role="alert">
    Votre message a bien été envoyé !
</div>
{% endif %}

<form action="{% url 'article_new' %}" method="post">
    {% csrf_token %}
<!--    <div class="form-group">-->
<!--        <label for="{{ form.titre.id_for_label }}">{{ form.titre.label }}</label>-->
<!--        <div class="text-danger">{{ form.titre.errors }}</div>-->
<!--        {{ form.titre }}-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="{{ form.contenu.id_for_label }}">{{ form.contenu.label }}</label>-->
<!--        <div class="text-danger">{{ form.contenu.errors }}</div>-->
<!--        {{ form.contenu }}-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>-->
<!--        <div class="text-danger">{{ form.date.errors }}</div>-->
<!--        {{ form.date }}-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <div class="text-danger">{{ form.renvoi.errors }}</div>-->
<!--        {{ form.renvoi }}-->
<!--        {{ form.renvoi.help_text }}-->
<!--    </div>-->
    {{ form.as_p }}
    <input class="btn btn-success" type="submit"/>
</form>
{% endblock %}