{% extends 'base.html' %}

{% block body %}
<!-- Blog Post -->
<div class="card mb-4">
    <img class="card-img-top" src="http://placehold.it/750x200" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">{{ nombre1 }} de {{ nombre2 }}</h2>
        <p class="card-text">Cela donne {{ result }}%
            {% if result == 100 %}
            <a href="#">Cliquer ici</a>
            {% endif %}
        </p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posté le par Start Bootstrap
    </div>
</div>

{% endblock %}